<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); %>

<body class="carrito_body">
    <%- include('partials/header'); %> 
<main>

    <nav class="tabla_carrito"> 

        <h1>carrito de compras</h1>
    
            <table>

                <% perros.forEach(element => { %>
                <tr>
            
                    <td><%= element.name %></td>
                    <td><img src="<%= element.image %>" alt="" style="width: 30%;"></td>
                    <td><%= element.description %></td>
                    <td><%= element.price %>$</td> 

                </tr>
                <% }) %>

                <% gatos.forEach(element => { %>
                    <tr>
                
                        <td><%= element.name %></td>
                        <td><img src="<%= element.image %>" alt="" style="width: 30%;"></td>
                        <td><%= element.description %></td>
                        <td><%= element.price %>$</td> 
    
                    </tr>
                    <% }) %>
        
            </table>

    </nav>

    <h2>productos relacionados</h2>

    <nav>
        <section class="productos_relacionados" style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%;">
            <div>
                <i class="fa-solid fa-circle-arrow-left fa-2x"></i>
            </div>      
                    <% perros.forEach(element => { %>
                    <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 25%; justify-content: center;">
                        <a href="">
                            <% if (perros.length < 7 ) { %>
                                <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                                    <img src="<%= element.image %>" alt="" style="display: flex; flex-direction: row; justify-content: center; width: 20%;">   
                                    <p><%= element.name %></p>  
                                </div>                           
                            <% } %> 
                        </a>
                    </div>
                    <% }) %> 
                    <div style="display: flex; flex-direction: row; width:fit-content;">
                        <i class="fa-solid fa-circle-arrow-right fa-2x"></i>
                    </div>          
                </section>

            </nav>
            
            
            <nav class="ver-mas"> 
                <p>si quieres ver mas precione aqui porfavor> <a href="">ver más</a></p>
            </nav>
        </section>
    </nav>
</main>
<%- include('partials/footer'); %>

</body>
</html>